<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="dev" class="org.ganesh.Dev"> 
<!--    <property name="l1" ref="lap">-->
<!--    </property>-->
<!--        <constructor-arg value="10"/>-->

        <property name="comp" ref="lap"/>
    </bean>
    
    <bean id="lap" class="org.ganesh.Laptop"/>

    
</beans>